<div class="banner">
	<%= @user.name %>
	<br>
	<%= @user.email %>
	<br>
	<%= link_to "edite profil", edit_user_registration_path %>
</div>
<div class="container">

	<div class="friends">
		<% if @user == current_user %>
		  <h3>Mes Amis</h3>
		<% else %>
		  <h3>Ses Amis</h3>
		<% end %>
		<%= render @user.friends %>
	</div>

	<div class="posts">
		<%= render @feed_items %>
		<br>
	</div>

	
</div>

