<div class="banner">
	<%= @user.name %>
	<br>
	<%= @user.email %>
	<br>
	<%= link_to "edite profil", edit_user_registration_path %>
</div>
<div class="container">
	<div class="posts">
		<%= render @feed_items %>
	</div>

	<div class="friends">
		<h3>Mes Amis</h3>
		<%= render @user.friends %>
	</div>
</div>