<div class="banner">
	<div class="profile_picture">
		<%= image_tag @user.display_profile_picture, width: 200 %>
	</div>
		<div class="user_info">
		<br>
		<%= @user.name %>
		<br>
		<%= @user.email %>
		<br>
		<% if @user == current_user %>
		  <%= link_to "edite profil", edit_user_registration_path %>
		<% end %>
	</div>
</div>
<div class="container">

	<div class="friends">
		<% if @user == current_user %>
		  <h3>Mes Amis</h3>
		<% else %>
		  <h3>Ses Amis</h3>
		<% end %>
		<% if @user.friends.size > 1 %>
		  <%# @user.friends.size %>
		  <%# @user.friends.inspect %>
		  <%= render @user.friends %>
		<% else %>
		  <p>pas encore d'amis :/</p>
		<% end %>
		<%# @user.friends.empty? %>
	</div>

	<div class="posts">
		<h3>Des Postes</h3>
		  <% if @feed_items.any? %>
		    <%= render @feed_items %>
		  <% else %>
		    pas encore des postes :/
		  <% end %>
		<br>
	</div>

	
</div>

