<%= form_with(model: @post, local: true, class: "post_form") do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <br>
  <%= f.label :content, "Vos pensees" %>
  <%= f.text_area :content %>
  <br>
  <%= f.submit "Partager" %>
  <span>
  	<%= f.file_field :image, accept: "image/jpeg, image/gif, image/png" %>
  </span>
<% end %>