<li>
	<span>
		<%= link_to post.user.name, post.user %>
	</span>
	<br>
	<span><%= post.content %></span>
	<span>
		Posted <%= time_ago_in_words(post.created_at) %> ago
	</span>
	<p>
		<% @count = post.likers.count %>
		<%= pluralize(@count, "person") %>
		<%= @count == 1 ? "likes" : "like" %>
		this post
		<% if post.likers.include?(current_user) %>
		  <b><%= link_to "unlike", '#' %></b>
		<% else %>
		  <b><%= link_to "like", '#' %></b>
		<% end %>
	</p>

</li>