<li>
	<span>
		<%= image_tag post.user.display_profile_picture, width: 50 %>
		<%= link_to post.user.name, post.user %>
	</span>
	<br>
	<span><%= post.content %></span>
	<span><%= image_tag post.display_image if post.image.attached? %></span>
	<span>
		Posted <%= time_ago_in_words(post.created_at) %> ago
	</span>
	<p>
		<% @count = post.likers.count %>
		<%= pluralize(@count, "person") %>
		<%= @count == 1 ? "likes" : "like" %>
		this post
		<% if post.likers.include?(current_user) %>
		  <b><%= render partial: 'posts/unlike', locals: { post: post} %></b>
		<% else %>
		  <b><%= render partial: 'posts/like', locals: { post: post} %></b>
		<% end %>
		<% if post.comments.any? %>
		  <ul>
		    <%= render post.comments %>
		  </ul>
		<% end %>
		<%= render partial: 'comments/comment_form', locals: { post: post } %>
	</p>

</li>