<header class="navbar navbar-fixed-top navbar-inverse">
	<div id="user_nav">
      <% if user_signed_in? %>
        Signed in as <%= current_user.email %>
        <%= link_to "Deconnexion", destroy_user_session_path, method: :delete %>
        <%= link_to "Mon profil", user_path(current_user) %>
        <%= link_to "l'accueil", home_path %>
        <%= link_to "tous le monde", users_path %>
        <%= link_to "demande d'ami(#{current_user.received_requests_count})", friend_requests_path %>
      <% else %>
        <%= link_to "S'inscrire", new_user_registration_path %> or 
        <%= link_to "Se connecter", new_user_session_path %>
        or <%= link_to "connectez-vous avec facebook",user_facebook_omniauth_authorize_path %>
      <% end %>
    </div>
</header>